body {
	background: white url(img/pinggir.png) no-repeat fixed top left;
	font-family: sans-serif, tahoma, arial, verdana;
	margin: 0px 20px 0px 70px;
}

#content {
	background: white;
	padding-bottom: 20px;
}
h1,h2,h3 {
	color: #005A9C;
}
*:active {
	color: #c00;
}
#content a {
	text-decoration: none;
	color: #005A9C;;
	border-bottom: 1px solid white;
}
#content a:hover {
	border-bottom: 1px dashed #f08;
}

#header {
	border-bottom: 2px solid #888;
	padding: 10px 0px 10px 0px;
}
#header a {
	color: #005A9C;
	font-size: 10pt;
	text-decoration: none;
}
#header a:hover {
	text-decoration: underline;
}

#footer {
	border-top: 2px solid #888;
	font-size: 10pt;
}
#footer a {
	font-size: 10pt;
	color: #005A9C;
	text-decoration: none;
}
#footer a:hover {
	text-decoration: underline;
}

.screen,.programlisting {
	background: #f6f6f6;
	padding: 5px;
	border: 1px solid #ccc;
}

.varname {
	color: #f80;
}
.function {
	color: #80f;
}
.returnvalue {
	color: #f08;
}

div.author {
	margin: 0px 0px 10px 0px;
}
h3.author {
	margin: 0px 0px 5px 0px;
}
.email {
	display: inline;
}
.personblurb {
	display: inline;
	margin: 0px;
	margin-left: 10px;
	font-size: 10pt;
}

.example .title {
	font-size: 10pt;
}
.figure .title {
	font-size: 10pt;
}
